<div class="container">
  <div class="row">
    <div class="col-5">
      <%= image_tag @item.image, size: "200x200" %>
    </div>
    <div class="col-5">
      <%= @item.name %>
      <%= @item.introduction %>
      <%= @item.add_tax_price.to_s(:delimited) %>
      
      <%= form_with model: @cart_item, url:items_path, local:true do |f| %>
        <%= f.hidden_field :item_id, :value => @item.id %>
        <%= f.select :amount, *[1..10] %>
        <%= f.submit 'カートに入れる' %>
      <% end %>
      
    </div>
  </div>
</div>




