<div class="container">
  <div class="row">
    <div class="col-5">
      <%= image_tag @item.image, size: "200x200" %>
    </div>
    <div class="col-5">
      <p><%= @item.name %></p>
      <p><%= @item.introduction %></p>
      <p>￥<%= @item.add_tax_price.to_s(:delimited) %>(税込み)</p>
      
      <%= form_with model: @cart_item, local:true do |f| %>
        <%= f.hidden_field :item_id, :value => @item.id %>
        <%= f.select :amount, *[1..10] %>
        <%= f.submit 'カートに入れる', class: "btn btn-success"%>
      <% end %>
      
    </div>
  </div>
</div>




