<!DOCTYPE html>
<html>
  <head>
    <title>WorkGithub</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <h1 class="text-left">ロゴ</h1>
          <ul class="navbar-nav ml-auto">
            <% if admin_signed_in? %>
              <button type="button" class="btn btn-light">
                <%= link_to admin_items_path do %>
                商品一覧
                <% end %>
              </button>
              <button type="button" class="btn btn-light">
                <%= link_to admin_customers_path do %>
                会員一覧
                <% end %>
              </button>
              <button type="button" class="btn btn-light">
                <%= link_to admin_orders_show_path do %>
                注文履歴一覧
                <% end %>
              </button>
              <button type="button" class="btn btn-light">
                <%= link_to destroy_admin_session_path, method: :delete do %>
                ログアウト
                <% end %>
              </button>
            <% elsif customer_signed_in? %>
              <button type="button" class="btn btn-light">
                <%= link_to my_page_path do %>
                マイページ
                <% end %>
              </button>
              <button type="button" class="btn btn-light">
                <%= link_to items_path do %>
                注文一覧
                <% end %>
              </button>
              <button type="button" class="btn btn-light">
                <%= link_to cart_items_index_path do %>
                カート
                <% end %>
              </button>
              <button type="button" class="btn btn-light">
                <%= link_to destroy_customers_session_path, method: :delete do %>
                ログアウト
                <% end %>
              </button>
            <% else %>
              <button type="button" class="btn btn-light">
                <%= link_to about_path do %>
                About
                <% end %>
              </button>
              <button type="button" class="btn btn-light">
                <%= link_to items_path do %>
                商品一覧
                <% end %>
              </button>
              <button type="button" class="btn btn-light">
                <%= link_to new_customer_registration_path do %>
                新規登録
                <% end %>
              </button>
              <button type="button" class="btn btn-light">
                <%= link_to new_customer_session_path do %>
                ログイン
                <% end %>
              </button>
              
            <% end %>
          </ul>
        </div>
      </nav>
    </header>
    
    
    <%= yield %>
  </body>
</html>
